@font-face {
    font-family: 'Vida 33 Pro';
    src: local('Vida 33 Pro'), local('Vida33Pro'),
        url('../font/Vida33Pro/Vida33Pro.woff2') format('woff2'),
        url('../font/Vida33Pro/Vida33Pro.woff') format('woff'),
        url('../font/Vida33Pro/Vida33Pro.ttf') format('truetype'),
        url('../font/Vida33Pro/Vida33Pro.svg#Vida33Pro') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vida 31 Pro';
    src: local('Vida 31 Pro'), local('Vida31Pro'),
        url('../font/Vida31Pro/Vida31Pro.woff2') format('woff2'),
        url('../font/Vida31Pro/Vida31Pro.woff') format('woff'),
        url('../font/Vida31Pro/Vida31Pro.ttf') format('truetype'),
        url('../font/Vida31Pro/Vida31Pro.svg#Vida31Pro') format('svg');
    font-weight: normal;
    font-style: normal;
}

